# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Streamlit
.streamlit/

# Environment Variables
.env

# Logs
logs/
*.log

# Vector Stores
app/vectorstores/faiss_index/
app/vectorstores/embedding_cache/

# Outputs
app/outputs/

# OS Files
.DS_Store
Thumbs.db